<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Main content</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos magnam ut tenetur aspernatur excepturi doloremque consectetur sed architecto? Recusandae ullam dolorum fugit voluptatum impedit animi perferendis officia alias id obcaecati!</p>
</body>
</html>