<%- include("head.ejs") %>
    
    <h1>HI</h1>
    <form action="/" method="post">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <input type="submit">
    </form>
   
<%- include("foot.ejs") %>