<%- include("head.ejs") %>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ducimus ipsum dicta quibusdam placeat, ipsam veniam earum similique necessitatibus incidunt eligendi perspiciatis quae, impedit maiores? Tenetur autem corporis rem sit?</p>
<%- include("foot.ejs") %>