<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: 'Courier New', Courier, monospace;">
    <h1>Secret</h1>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corrupti recusandae dolore, praesentium unde harum ullam consectetur officia ipsa, consequuntur numquam quas. Aperiam cum earum sint ducimus? Facere, recusandae voluptatem.</h3>
</body>
</html>